<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Invoices
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> {{msg}}
        </div>
        <br />
        <div class="alert alert-info" role="alert" *ngIf="indLoading">
          <img src="assets/images/loading.gif" width="32" height="32" /> Loading...</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label">From</label>
          <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="fromDateCtrl" name='fromDate'
            (dateChanged)="onFromDateChanged($event)"></my-date-picker>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label">To</label>
          <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="toDateCtrl" name='toDate'
            (dateChanged)="onToDateChanged($event)"></my-date-picker>
        </div>
      </div>
      <div class="col-md-2">
        <label class="control-label">IRF #</label>
        <input type="number" class="form-control" name="irfnumber" maxlength="10" [(ngModel)]="iRFNumber" />
      </div>
      <div class="col-md-2">
        <label class="control-label">Invoice #</label>
        <input type="text" class="form-control" name="invoiceNumber" maxlength="10" [(ngModel)]="invoiceNumber" />
      </div>
      <div class="col-md-2">
        <br>
        <button type="button" (click)="getResult();" class="btn btn-primary"
          [disabled]="(fromDate=='' || toDate=='') && iRFNumber == null  && (invoiceNumber == null || invoiceNumber == '')">Get
          Result</button>&nbsp;&nbsp;
        <button type="button" (click)="getExcel();" class="btn btn-success"
          [disabled]="_invoiceData==null || _invoiceData.length==0">Get Excel</button>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row" *ngIf="errorMessage!=''">
      <div class="col-md-12">
        <div class="alert alert-info alert-dismissible">
          <h4>
            <i class="icon fa fa-info"></i> {{errorMessage}}</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="openSuspendModal();" class="btn-xs btn-danger " *ngIf="isAccountsTeam()"
          [disabled]="selectedIRF ==null || selectedIRF <= 0">Suspend</button>
        <button type="button" (click)="reviseIRF();" class="btn-xs btn-warning " *ngIf="isConsultantTeam()"
          [disabled]="selectedIRF ==null || selectedIRF <= 0">Revise</button>
        <button type="button" (click)="openRaiseCreditNote();" class="btn-xs btn-info" *ngIf="isConsultantTeam()"
          [disabled]="selectedIRF ==null || selectedIRF <= 0">Request CreditNote</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="_invoiceData?.length>0" class="text-muted pull-right"><small><i class="fa fa-rupee"></i> indicates
            on-account balance</small></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <div *ngIf="_invoiceData?.length>0">
          <ag-grid-angular #topGrid id="myGrid" style="width: 100%; height: 600px;" class="ag-theme-balham"
            [enableSorting]="true" [enableFilter]="true" [enableColResize]="true" [rowData]="_invoiceData"
            [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" pagination=true rowSelection="single"
            (cellClicked)='onCellClicked($event)' (filterChanged)='onFilterChange($event)'>
          </ag-grid-angular>
        </div>
        <div [hidden]="footerData==null">
          <ag-grid-angular style="width: 100%;height: 30px;" #bottomGrid class="ag-theme-balham" [rowData]="footerData"
            headerHeight="0" [columnDefs]="footercolumnDefs" (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </section>
</div>
<modal #suspenIRFmodal>
  <modal-header [show-close]="true">
    <h3 class="modal-title">{{suspendHeading}}</h3>
  </modal-header>
  <modal-body>
    <label class="control-label "> Do you want to suspend the selected IRF?</label>
    <div class="row">
      <br />
      <div class="col-md-12">
        <label class="control-label ">Remarks</label>
        <textarea type="text " class="form-control" maxlength="500 " rows="3" minlength="10" required
          [(ngModel)]="suspendRemarks" name='InvoiceNarration'></textarea>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <div>
      <a class="btn btn-default" (click)="suspenIRFmodal.dismiss()">Cancel</a>
      <button type="button" (click)="suspend();" [disabled]="suspendRemarks==null || suspendRemarks==''"
        class="btn btn-primary">Yes</button>
    </div>
  </modal-footer>
</modal>

<modal #onAccountDetailModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">On Account Details</h4>
  </modal-header>
  <modal-body>
    <div class="table-responsive bg-gray no-padding">
      <table class="table">
        <tr>
          <th style="width:40%">Transaction Date:</th>
          <td>{{trasactionDate}}</td>
          <hr />
        </tr>
        <tr>
          <th>Collection:</th>
          <td>{{collectionAmount}}</td>
          <hr />
        </tr>
        <tr>
          <th>Remarks:</th>
          <td>{{trasactionRemarks}}</td>
        </tr>
      </table>
    </div>
  </modal-body>
</modal>